@model coolapp.ViewModels.EditorsForAlbums.CreateEditorsForAlbumsViewModel

@{
    ViewData["Title"] = "Создание - Связи между исполнителей и альбомам";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="EditorsForAlbums" asp-action="Index">Исполнители к альбомам</a></li>
        <li class="breadcrumb-item active">Создание</li>
    </ol>
</nav>

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Добавление связи
</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="IdEditor" class="control-label"></label>
                <select asp-for="IdEditor" class="form-control" asp-items="ViewBag.IdEditor"></select>
            </div>
            <div class="mb-3">
                <label asp-for="IdAlbum" class="control-label"></label>
                <select asp-for="IdAlbum" class="form-control" asp-items="ViewBag.IdAlbum"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}